<!DOCTYPE html>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Signup</title>
    <style type="text/css">
        .send-button{
            background: #54C7C3;
            width:100%;
            font-weight: 600;
            color:#fff;
            padding: 8px 25px;
            }
        .g-button{
            color: #fff !important;
            border: 1px solid #EA4335;
            background: #ea4335 !important;
            width:100%;
            font-weight: 600;
            color:#fff;
            padding: 8px 25px;
            }
        .my-input{
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            cursor: text;
            padding: 8px 10px;
            transition: border .1s linear;
            }
        .header-title{
            margin: 5rem 0;
            }
        h1{
            font-size: 31px;
            line-height: 40px;
            font-weight: 600;
            color:#4c5357;
            }
        h2{
            color: #5e8396;
            font-size: 21px;
            line-height: 32px;
            font-weight: 400;
            }
        .login-or {
            position: relative;
            color: #aaa;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            }
        .span-or {
            display: block;
            position: absolute;
            left: 50%;
            top: -2px;
            margin-left: -25px;
            background-color: #fff;
            width: 50px;
            text-align: center;
            }
        .hr-or {
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            }
        @media screen and (max-width:600px){
            h1{
                font-size: 26px;
                }
            h2{
                font-size: 20px;
                }
            }
        .errorlist{
            color: red;
            }
        .container{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-top: 40px; 
            padding-top: 1px; 
            padding-bottom: 120px;
        }
    </style>
</head>
<body>
    <div class="container">
      <div class="col-md-6 mx-auto text-center">
         <div class="header-title">
            <h1 class="wv-heading--title">
               Sign Up to Hospital
            </h1>
            <h2 class="wv-heading--subtitle">
               Lorem ipsum dolor sit amet!
            </h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">
            <div class="myform form ">
               <form method="post">
                {% csrf_token %}
                  <div class="form-group">
                     <input id="id_username" type="text" name="username"  class="form-control my-input" placeholder="Username" maxlength="150">
                     <p style="color: red;">{{form.username.errors}}</p>
                  </div>
                  <div class="form-group">
                     <input type="password" name="password1"  class="form-control my-input" id="id_password1" placeholder="Password">
                     <p style="color: red;">{{form.password1.errors}}</p>
                  </div>
                  <div class="form-group">
                     <input type="password" name="password2"  class="form-control my-input" id="id_password2" placeholder=" Confirm Password">
                     <p style="color: red;">{{form.password2.errors}}</p>
                  </div>
                  <div class="text-center ">
                     <button type="submit" class=" btn btn-block send-button tx-tfm">Create Account</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</body>
</html>