<!DOCTYPE html>
{% load static %}
{% load medextras %}
<html>
<title>Book Appointment</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
.hidden_tab{
  display: none;
}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-home w3-margin-right"></i>Hospital</a>
  <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-mobile">Profile</a>
  <a href="{% url 'choosedoctor' %}" class="w3-bar-item w3-button w3-mobile">Choose Doctors</a>
</div>
<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="{% static 'hospital.jpg' %}" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-user w3-margin-right"></i>Appointment Booking</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form method="post">
        {% csrf_token %}
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label for="id_appointment_date"><i class="fa fa-calendar-o"></i> Appointment Date</label>
            {% calculate_date form.appointment_date.value as date %}
            <input class="w3-input w3-border" type="date" id="id_appointment_date" name="appointment_date" value="{{date}}" required>
          </div>
          <div class="w3-half">
            <label for="id_time_slot"><i class="fa fa-clock-o"></i>Time Slot</label>
            <select class="w3-input w3-border" name="time_slot" id="id_time_slot">
              <option value="MS" selected>09:00AM-12:00PM</option>
              <option value="ES">01:00PM-04:00PM</option>
            </select>
        </div>
        </div>
        <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-check w3-margin-right"></i> Book</button>
      </form>
    </div>
  </div>
</header>

<!-- Page content -->
  <div class="w3-container" id="contact">
    <h2>Contact</h2>
    <p>If you have any questions, do not hesitate to ask them.</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> kerala, india<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone:+91 9446352931<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: mail@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>for<a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">bca project</a></p>
</footer>

</body>
</html>
