<!DOCTYPE html>
{% load static %}
<html>
<title>Choose Doctor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-home w3-margin-right"></i>Hospital</a>
  <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-mobile">Profile</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

  <div class="w3-container w3-margin-top" id="rooms">
    <h3>Select Doctor</h3>
    <p>Select your prefered speciality.</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col m10">
      <label><i class="fa fa-calendar-o"></i></label>
      <input class="w3-input w3-border" type="text" id="myInput" placeholder="Enter Search term">
    </div>
    <div class="w3-col m2">
      <label><i class="fa fa-search"></i> Search</label>
      <button class="w3-button w3-block w3-black" onclick="myFunction()">Search</button>
    </div>
  </div>
  <div class="w3-row-padding w3-padding-16" id="myUL">
    {% for doctor in object_list %}
    <div class="w3-center w3-third w3-margin-bottom myLI">
	{%if doctor.photo %}
      <img src="{{doctor.photo.url}}" alt="Norway" style="width:100%">
	{% else %}
	<img src="{% static 'avatar.jpg' %}" alt="Norway" style="width:100%">
	{%endif%}
      <div class="w3-container w3-white">
        <h3>Dr. {{doctor.user.full_name}}</h3>
        <h6 class="w3-opacity">{{doctor.specialization}}</h6>
        <a href="{% url 'appointment' doctor_id=doctor.id %}" style="text-decoration:none">
          <button class="w3-button w3-block w3-black w3-margin-bottom">Book Appointment</button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="w3-container" id="contact">
    <h2>Contact</h2>
    <p>If you have any questions, do not hesitate to ask them.</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> kerala,INDIA<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: +91 9446352931<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: mail@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>bca project</p>
</footer>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    li = document.getElementById("myUL").getElementsByClassName("myLI");
    console.log(li)
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("h3")[0];
        b = li[i].getElementsByTagName("h6")[0];
        txtValueOne = a.textContent || a.innerText;
        txtValueTwo = b.textContent || b.innerText;
        if (txtValueOne.toUpperCase().indexOf(filter) > -1 || txtValueTwo.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
</body>
</html>
