<!DOCTYPE html>
{% load static %}
{% load medextras %}
<html lang="en">
<title>Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link href='https://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {padding: 16px}
</style>
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-white w3-animate-left w3-card" style="z-index:3;width:320px;" id="mySidebar">
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-border-bottom w3-large"><i class="fa fa-home"></i> HOSPITAL</a>
  <div class="w3-card w3-round w3-white">
    <div class="w3-container" style="padding-bottom:10px;">
    {% doctor_profile_complete doctor.id as values %}
     <h4 class="w3-center">My Profile</h4>
     {% if values.0 %}
     <p class="w3-center"><img src="{{doctor.photo.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
     {% else %}
     <p class="w3-center"><img src="{% static 'avatar.jpg' %}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
     {% endif %}
     <hr>
     {% if values.2 %}
     <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>Dr. {{doctor.user.full_name}}</p>
     {% else %}
     <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Dr. {{doctor.user.username}}</p>
     {% endif %}
     {% if values.1 %}
     <p><i class="fa fa-certificate fa-fw w3-margin-right w3-text-theme"></i> {{doctor.specialization}}</p>
     {% else %}
     <p><i class="fa fa-certificate fa-fw w3-margin-right w3-text-theme"></i> Specilization</p>
     {% endif %}
     <a href="{% url 'editprofile' %}"
      <button class="w3-btn" style="float: right; border: 1px solid #c8c8c8c8"><i class="fa fa-pencil"></i>Edit Profile</button>
     </a>
    </div>
  </div>
  <a href="javascript:void(0)" onclick="w3_close()" title="Close Sidemenu"
  class="w3-bar-item w3-button w3-hide-large w3-large">Close <i class="fa fa-remove"></i></a>
  {% count_forenoon_appointment doctor.id as forenoon_count %}
  <a id="myBtn" onclick="myFunc('Demo1')" href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-inbox w3-margin-right"></i>ForeNoon ({{forenoon_count}})<i class="fa fa-caret-down w3-margin-left"></i></a>
  <div id="Demo1" class="w3-hide w3-animate-left">
    {% for appointment in forenoon_booking %}
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-border-bottom test w3-hover-light-grey" onclick="openMail({{appointment.id}});w3_close();" id="firstTab">
      <div class="w3-container">
        {% if appointment.patient.photo %}
        <img class="w3-round w3-margin-right" src="{{appointment.patient.photo.url}}" style="width:15%;"><span class="w3-opacity w3-large">ID:{{appointment.patient.id}}</span>
        {% else %}
        <img class="w3-round w3-margin-right" src="{% static 'avatar.jpg' %}" style="width:15%;"><span class="w3-opacity w3-large">ID:{{appointment.patient.id}}</span>
        {% endif %}
        <h6>Patinet: {{appointment.patient.user.full_name}}</h6>
        <p>Token:{{appointment.token}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  {% count_afternoon_appointment doctor.id as forenoon_count %}
  <a id="myBtn" onclick="myFunc('Demo2')" href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-inbox w3-margin-right"></i>AfterNoon ({{forenoon_count}})<i class="fa fa-caret-down w3-margin-left"></i></a>
  <div id="Demo2" class="w3-hide w3-animate-left">
    {% for appointment in afternoon_booking %}
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-border-bottom test w3-hover-light-grey" onclick="openMail({{appointment.id}});w3_close();" id="firstTab">
      <div class="w3-container">
        {% if appointment.patient.photo %}
        <img class="w3-round w3-margin-right" src="{{appointment.patient.photo.url}}" style="width:15%;"><span class="w3-opacity w3-large">ID:{{appointment.patient.id}}</span>
        {% else %}
        <img class="w3-round w3-margin-right" src="{% static 'avatar.jpg' %}" style="width:15%;"><span class="w3-opacity w3-large">ID:{{appointment.patient.id}}</span>
        {% endif %}
        <h6>Patinet: {{appointment.patient.user.full_name}}</h6>
        <p>Token:{{appointment.token}}</p>
      </div>
    </a>
    {% endfor %}
    </div>
    {% count_upcoming_appointments doctor.id as cnt %}
    <a id="myBtn" onclick="myFunc('Demo3')" href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-inbox w3-margin-right"></i>Upcoming ({{cnt}})<i class="fa fa-caret-down w3-margin-left"></i></a>
    <div id="Demo3" class="w3-hide w3-animate-left">
      {% for appointment in upcoming %}
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-border-bottom test w3-hover-light-grey" onclick="openMail({{appointment.id}});w3_close();" id="firstTab">
        <div class="w3-container">
          {% if appointment.patient.photo %}
          <img class="w3-round w3-margin-right" src="{{appointment.patient.photo.url}}" style="width:15%;"><span class="w3-opacity w3-large">ID:{{appointment.patient.id}}</span>
          {% else %}
          <img class="w3-round w3-margin-right" src="{% static 'avatar.jpg' %}" style="width:15%;"><span class="w3-opacity w3-large">ID:{{appointment.patient.id}}</span>
          {% endif %}
          <h6>Patinet: {{appointment.patient.user.full_name}}</h6>
          <p>Token:{{appointment.token}}</p>
        </div>
      </a>
      {% endfor %}
      </div>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button"><i class="fa fa-sign-out w3-margin-right"></i>Logout</a>
</nav>

<!-- Overlay effect when opening the side navigation on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="Close Sidemenu" id="myOverlay"></div>

<!-- Page content -->
<div class="w3-main" style="margin-left:320px;">
<i class="fa fa-bars w3-button w3-white w3-hide-large w3-xlarge w3-margin-left w3-margin-top" onclick="w3_open()"></i>
<a href="javascript:void(0)" class="w3-hide-large w3-red w3-button w3-right w3-margin-top w3-margin-right" onclick="document.getElementById('id01').style.display='block'"><i class="fa fa-pencil"></i></a>

{% for appointment in afternoon_booking %}
<div id={{appointment.id}} class="w3-container person">
  <br>
  {% if appointment.patient.photo %}
  <img class="w3-round  w3-animate-top" src="{{appointment.patient.photo.url}}" style="width:20%;">
  {% else %}
  <img class="w3-round  w3-animate-top" src="{% static 'avatar.jpg' %}" style="width:20%;">
  {% endif %}
  <h5>Patient: {{appointment.patient.user.full_name}}</h5>
  <h4><i class="fa fa-envelope-o"></i> Email: {{appointment.patient.user.email}}</h4>
  <h4><i class="fa fa-calendar-o"></i> D.O.B: {{appointment.patient.date_of_birth}}</h4>
  <hr>
  <h3>Report:</h3>
  {% if appointment.patient.report_set.last %}
  <p> {{appointment.patient.report_set.last.details}}</p>
  <p> Doctor Name: {{appointment.patient.report_set.last.doctor}}</p>
  {% else %}
  <p> No Reports Yet </p>
  {% endif %}
  <a href="{% url 'addreport' patient_id=appointment.patient.id %}" class="w3-bar-item w3-button"><i class="fa fa-edit  w3-margin-right"></i>Add Report</a>
  <a href="{% url 'allreports' patient_id=appointment.patient.id %}" class="w3-bar-item w3-button"><i class="fa fa-edit  w3-margin-right"></i>View Previous Reports</a>
</div>
{% endfor %}

{% for appointment in forenoon_booking %}
<div id={{appointment.id}} class="w3-container person">
  <br>
  {% if appointment.patient.photo %}
  <img class="w3-round  w3-animate-top" src="{{appointment.patient.photo.url}}" style="width:20%;">
  {% else %}
  <img class="w3-round  w3-animate-top" src="{% static 'avatar.jpg' %}" style="width:20%;">
  {% endif %}
  <h5>Patient: {{appointment.patient.user.full_name}}</h5>
  <h4><i class="fa fa-envelope-o"></i> Email: {{appointment.patient.user.email}}</h4>
  <h4><i class="fa fa-calendar-o"></i> D.O.B: {{appointment.patient.date_of_birth}}</h4>
  <hr>
  <h3>Report:</h3>
  {% if appointment.patient.report_set.last %}
  <p> {{appointment.patient.report_set.last.details}}</p>
  <p> Doctor Name: {{appointment.patient.report_set.last.doctor}}</p>
  {% else %}
  <p> No Reports Yet </p>
  {% endif %}
  <a href="{% url 'addreport' patient_id=appointment.patient.id %}" class="w3-bar-item w3-button"><i class="fa fa-edit  w3-margin-right"></i>Add Report</a>
  <a href="{% url 'allreports' patient_id=appointment.patient.id %}" class="w3-bar-item w3-button"><i class="fa fa-edit  w3-margin-right"></i>View Previous Reports</a>
</div>
{% endfor %}

{% for appointment in upcoming %}
<div id={{appointment.id}} class="w3-container person">
  <br>
  {% if appointment.patient.photo %}
  <img class="w3-round  w3-animate-top" src="{{appointment.patient.photo.url}}" style="width:20%;">
  {% else %}
  <img class="w3-round  w3-animate-top" src="{% static 'avatar.jpg' %}" style="width:20%;">
  {% endif %}
  <h5>Patient: {{appointment.patient.user.full_name}}</h5>
  <h4><i class="fa fa-envelope-o"></i> Email: {{appointment.patient.user.email}}</h4>
  <h4><i class="fa fa-calendar-o"></i> D.O.B: {{appointment.patient.date_of_birth}}</h4>
  <hr>
  <h3>Report:</h3>
  {% if appointment.patient.report_set.last %}
  <p> {{appointment.patient.report_set.last.details}}</p>
  <p> Doctor Name: {{appointment.patient.report_set.last.doctor}}</p>
  {% else %}
  <p> No Reports Yet </p>
  {% endif %}
  <a href="{% url 'addreport' patient_id=appointment.patient.id %}" class="w3-bar-item w3-button"><i class="fa fa-edit  w3-margin-right"></i>Add Report</a>
  <a href="{% url 'allreports' patient_id=appointment.patient.id %}" class="w3-bar-item w3-button"><i class="fa fa-edit  w3-margin-right"></i>View Previous Reports</a>
</div>
{% endfor %}

</div>

<script>
var openInbox = document.getElementById("myBtn");
openInbox.click();

function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

function myFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-red";
  } else {
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-red", "");
  }
}

function openMail(personName) {
  var i;
  var x = document.getElementsByClassName("person");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x = document.getElementsByClassName("test");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" w3-light-grey", "");
  }
  document.getElementById(personName).style.display = "block";
  event.currentTarget.className += " w3-light-grey";
}

</script>

<script>
var openTab = document.getElementById("firstTab");
openTab.click();
</script>

</body>
</html>
