<!DOCTYPE html>
{% load static %}
{% load medextras %}
<html>
<title>Edit Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
.hidden_tab{
  display: none;
}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-home w3-margin-right"></i>Hospital</a>
  <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-mobile">Profile</a>
</div>
<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="{% static 'hospital.jpg' %}" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-user w3-margin-right"></i>Edit Profile</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action="{% url 'editprofile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <p class="w3-center">
	{% if form.photo.value %}
            <label>
              <img src="{{form.instance.photo.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
              <input class="hidden_tab" type="file" name="photo" id="id_photo" value={{form.photo.value}}>
            </label>
	{% else %}
	    <label>
              <img src="{% static 'avatar.jpg' %}" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
              <input class="hidden_tab" type="file" name="photo" id="id_photo" value={{form.photo.value}}>
            </label>
	{% endif %}
          </p>
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label for="id_first_name"><i class="fa fa-male"></i> First Name</label>
            <input class="w3-input w3-border" type="text" id="id_first_name" name="first_name" placeholder="John" value="{{userform.first_name.value}}" name="CheckIn" required>
          </div>
          <div class="w3-half">
            <label for="id_last_name"><i class="fa fa-male"></i> Last Name</label>
            <input class="w3-input w3-border" type="text" id="id_last_name" name="last_name" placeholder="Doe" value="{{userform.last_name.value}}" name="CheckOut" required>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-half w3-margin-bottom">
            <label for="id_email"><i class="fa fa-envelope"></i> Email</label>
            <input class="w3-input w3-border" type="text" id="id_email" name="email" value="{{userform.email.value}}" placeholder="johndoe@gmail.com" required>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-half w3-margin-bottom">
            <label for="id_specialization"><i class="fa fa-address-card-o"></i> Specialization</label>
            <input class="w3-input w3-border" name="specialization" type="text" maxlength="300" id="id_specialization" value="{{form.specialization.value}}">
          </div>
        </div>
        <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-check w3-margin-right"></i> Update</button>
      </form>
    </div>
  </div>
</header>

<!-- Page content -->
  <div class="w3-container" id="contact">
    <h2>Contact</h2>
    <p>If you have any questions, do not hesitate to ask them.</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> Kerala, INDIA<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: +91 9746934727<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: hospitalinfo@gmail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">bca project</a></p>
</footer>

</body>
</html>
