<!DOCTYPE html>
{% load static %}
<html lang="en">
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-indigo w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close x</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>DENTAL CLINIC</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Profile</a>
    {% endif %}
    <a href="#showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Facilities</a>
    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Services</a>
    <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Founders</a>
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Doctors</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
  </div>
  {% if user.is_authenticated %}
  <div class="w3-container">
    <h4 class="w3-padding-64">
      <a href="{% url 'logout' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><b>Logout</b></a></h4>
  </div>
  {% else %}
  <div class="w3-container">
    <h4 class="w3-padding-64">
      <a href="{% url 'login' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><b>Login</b></a> or
      <a href="{% url 'signup' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><b>SignUp</b></a> </h4>
  </div>
  {% endif %}
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-indigo w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-indigo w3-margin-right" onclick="w3_open()">☰</a>
  <span>HOSPITAL</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo w3-text-indigo"><b>WE CARE DENTAL CLINIC</b></h1>
    <h1 class="w3-xxxlarge w3-text-indigo"><b>Facilities.</b></h1>
    <hr style="width:50px;border:5px solid #3f51b5" class="w3-round">
  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <img src="{% static 'dock1.jpg'%}" style="width:100%" onclick="onClick(this)" alt="Modern German Equipments">
      <img src="{% static 'dock3.jpg'%}" style="width:100%" onclick="onClick(this)" alt="Best in class services">
      <img src="{% static 'dock2.jpg'%}" style="width:100%" onclick="onClick(this)" alt="Titanium Bits and Power tools">
    </div>

    <div class="w3-half">
      <img src="{% static 'dock4.jpg'%}" style="width:100%" onclick="onClick(this)" alt="Precison Surgeons">
      <img src="{% static 'dock6.jpg'%}" style="width:100%" onclick="onClick(this)" alt="Precison Tools">
      <img src="{% static 'dock5.jpg'%}" style="width:100%" onclick="onClick(this)" alt="Best in class services">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-indigo"><b>Services.</b></h1>
    <hr style="width:50px;border:5px solid #3f51b5" class="w3-round">
    <p>We are dental care service that focus on what's best for your better smile and what's best for your health!   </p> 
<p>Our Clinic was founded by DR.Wizam muhammad in 2000.We are assured with quality dental care.We will make sure that you will smile better for reest of your life
    </p>
  </div>

  <!-- Designers -->
  <div class="w3-container" id="designers" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-indigo"><b>Founders.</b></h1>
    <hr style="width:50px;border:5px solid #3f51b5" class="w3-round">
    <p>THE BEST DOCTORS IN THE WORLD.</p>
    <p>WE COME UP WITH GOOD QUALITY OF SERVICES AND HOSPITALITY.THE SATISFACTION OF OUR PATIENTS IS OUR NO.1 PRIORITY.OUR CLINIC IS PROVIDED WITH PROPER AND BEST SURGICAL MATERIALS AND WORLD CLASS DOCTORS.
    </p>
    <p><b>Our founders are thoughtfully chosen</b>:</p>
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{% static 'doctor1.jpg'%}" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>DR.WIZAM MUHAMMAD</h3>
          <p class="w3-opacity">Managing Director</p>
          <p>specialization in Oral and Maxillofacial Surgery.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{% static 'doctor3.jpg'%}" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>DR.MALIKA SUBRAMANYAM</h3>
          <p class="w3-opacity">Head Surgeon</p>
          <p>Specialization in Prosthodontics</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{% static 'doctor2.jpg'%}" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>DR.ARAVIND SWAMI</h3>
          <p class="w3-opacity">Operations Officer</p>
          <p>Specialized in mds Orthodontics.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="packages" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-indigo"><b>Doctors.</b></h1>
    <hr style="width:50px;border:5px solid #3f51b5" class="w3-round">
    <p>to be filleds</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">DR.WIZAM MUHAMMAD</li>
        <li class="w3-padding-16"><img src="{% static 'doctor2.jpg'%}" alt="WIZAM" style="width:50%"></li>
        <li class="w3-padding-16">BDS</li>
        <li class="w3-light-grey w3-padding-24">
          {% if user.is_authenticated %}
          <button class="w3-button w3-dark-grey w3-padding-large w3-hover-black">Book Appointment</button>
          {% else %}
          <button class="w3-button w3-dark-grey w3-padding-large w3-hover-black">Sign Up</button>
          {% endif %}
        </li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-indigo w3-xlarge w3-padding-32">DR.ARAVIND SWAMI</li>
        <li class="w3-padding-16"><img src="{% static 'doctor3.jpg'%}" alt="SWAMI" style="width:50%"></li>
        <li class="w3-padding-16">BDS</li>
        <li class="w3-light-grey w3-padding-24">
          {% if user.is_authenticated %}
          <button class="w3-button w3-indigo w3-padding-large w3-hover-black">Book Appointment</button>
          {% else %}
          <button class="w3-button w3-indigo w3-padding-large w3-hover-black">Sign Up</button>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-indigo"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid #3f51b5" class="w3-round">
    <p>For a Better Smile  Fill out the form and fill me in with the details :) All we need is ypor better health!</p>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-indigo w3-margin-bottom">Send Message</button>
    </form>
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
