<!DOCTYPE html>
{% load static %}
{% load medextras %}
<html>
<title>Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"> -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">
{% patient_profile_complete patient.id as values %}
<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>HOSPITAL</a>
  <a href="{% url 'choosedoctor' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Appointment"><i class="fa fa-plus"></i></a>
  <a href="{% url 'editprofile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Edit Profile"><i class="fa fa-user"></i></a>
  <a href="{% url 'allreports' patient_id=patient.id %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Reports"><i class="fa fa-envelope"></i></a>
  <a href="{% url 'addreport' patient_id=patient.id %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Add Report"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">Some data</a>
      <a href="#" class="w3-bar-item w3-button">John Doe has posted</a>
      <a href="#" class="w3-bar-item w3-button">Jane Doe has posted</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-hide-small w3-right" style="margin-right:150px">
    {% if values.0 %}
    <button class="w3-button w3-padding-large" title="My Account"><img src="{{patient.photo.url}}" class="w3-circle" style="height:23px;width:23px" alt="Avatar"></button>
    {% else %}
    <button class="w3-button w3-padding-large" title="My Account"><img src="{% static 'avatar.jpg' %}" class="w3-circle" style="height:23px;width:23px" alt="Avatar"></button>
    {% endif %}
    <div class="w3-dropdown-content w3-card-3 w3-bar-block" style="width:200px">
      <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
      <a href="{% url 'editprofile' %}" class="w3-bar-item w3-button">Edit Profile</a>
      <a href="{% url 'choosedoctor' %}" class="w3-bar-item w3-button">Book Appointment</a>
      <a href="{% url 'allreports' patient_id=patient.id %}" class="w3-bar-item w3-button">Reports</a>
      <a href="{% url 'addreport' patient_id=patient.id %}" class="w3-bar-item w3-button">Add Report</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Logout</i></a>
    </div>
  </div>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large">Home</a>
  <a href="{% url 'editprofile' %}" class="w3-bar-item w3-button w3-padding-large">Edit Profile</a>
  <a href="{% url 'choosedoctor' %}" class="w3-bar-item w3-button w3-padding-large">Book Appointment</a>
  <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         {% if values.0 %}
         <p class="w3-center"><img src="{{patient.photo.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         {% else %}
         <p class="w3-center"><img src="{% static 'avatar.jpg' %}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         {% endif %}
         <hr>
         {% if values.3 %}
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{patient.user.first_name}} {{patient.user.last_name}}</p>
         {% else %}
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{patient.user.username}}</p>
         {% endif %}
         {% if values.1 %}
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{patient.address}}</p>
         {% else %}
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> House name, Place</p>
         {% endif %}
         {% if values.2 %}
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{patient.date_of_birth}}</p>
         {% else %}
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> Month Day, Year</p>
         {% endif %}
        </div>
      </div>
      <br>

      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>New Dotors have joined. Find out who.</p>
      </div>
      {% if values.4 %}
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Your Profile is incomplete!</strong></p>
        <p><a href="{% url 'editprofile' %}">Click here to update</a></p>
      </div>
      {% endif %}
      {% count_appointments patient.id as count %}
      {% if count %}
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>You have {{count}} appointments for today</strong></p>
        <p>Please go through your appointments</p>
      </div>
      {% endif %}
      <br>
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Appointments</button>
          <div id="Demo1" class="w3-hide w3-container">
            {% for appointment in appointments%}
            <div style="border: 2px solid grey; padding: 5px; margin: 1px;">
              <h5 style="border-bottom: 1px solid grey">Dr. {{appointment.doctor.user.full_name}}
                {% if appointment.doctor.photo %}
                <img src="{{appointment.doctor.photo.url}}" class="w3-circle" style="height:23px;width:23px;float:right" alt="Avatar">
                {% else %}
                <img src="{% static 'avatar.jpg' %}" class="w3-circle" style="height:23px;width:23px;float:right" alt="Avatar">
                {% endif %}
              </h5>
              <p>{{appointment.appointment_date}} : {{appointment.get_time_slot_display}}</p>
            </div>
            {% endfor %}
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
        </div>
      </div>
      <br>

      <!-- Interests -->
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Medicines</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">Nersitline</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Septaline</span>
            <span class="w3-tag w3-small w3-theme-d3">Labelostics</span>
            <span class="w3-tag w3-small w3-theme-d2">Geramestil</span>
            <span class="w3-tag w3-small w3-theme-d1">Fridentils</span>
            <span class="w3-tag w3-small w3-theme">Gorupamestil</span>
          </p>
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="{% static 'doctor1.jpg'%}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1 min</span>
        <h4>Dr.WIZAM MUHAMMAD</h4><br>
        <hr class="w3-clear">
        <p>We come with imported mordern German equipments with top quality.the class hospitality is our trademark because all we care about is your better smile.Our specialists Docters will make your that you will smile when you leave..</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="{% static 'dock1.jpg'%}" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="{% static 'dock3.jpg'%}" style="width:100%" alt="Nature" class="w3-margin-bottom">
          </div>
        </div>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="{% static 'doctor3.jpg'%}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">16 min</span>
        <h4>ARAVIN SWAMI</h4><br>
        <hr class="w3-clear">
        <p>We come with imported mordern German equipments with top quality.the class hospitality is our trademark because all we care about is your better smile.Our specialists Docters will make your that you will smile when you leave..</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="{% static 'doctor4.jpg'%}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">32 min</span>
        <h4>WIZAM MUHAMMAD</h4><br>
        <hr class="w3-clear">
        <p>Have you seen this?</p>
        <img src="{% static 'dock7.jpg'%}" style="width:50%" class="w3-margin-bottom">
        <p>We come with imported mordern German equipments with top quality.the class hospitality is our trademark because all we care about is your better smile.Our specialists Docters will make your that you will smile when you leave.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
      </div>

    <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Appointments:</p>
          {% if appointments.0 %}
          {% if appointments.0.doctor.photo %}
          <img src="{{appointments.0.doctor.photo.url}}" alt="Forest" style="width:100%;">
          {% else %}
          <img src="{% static 'avatar.jpg' %}" alt="Forest" style="width:100%;">
          {% endif %}
          <p><strong>Dr. {{appointments.0.doctor.user.full_name}}</strong></p>
          <p>{{appointments.0.appointment_date}}</p>
          <p>{{appointments.0.get_time_slot_display}}</p>
          <p>Token : {{appointments.0.token}}</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          {% endif %}
        </div>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Checkup Notification</p>
          <img src="{% static 'doctor3.jpg'%}" alt="Avatar" class="w3-circle" style="width:50%"><br>
          <span>Dr.Malika subramaniyam</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>BCA <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">PROJECT</a></p>
</footer>

<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
